/* Font */


@-webkit-keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
  }
  @keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
  }
  

* {
    /* border: 1px solid blue; */
	box-sizing: border-box;
}

html, 
body {
	margin: 0;
	padding: 0;
	background-color: rgb(106,136,253);
}

.container {
    width: 100%;
}

/* title */
.title {
    text-align: center;
    margin-bottom: 50px;
	font-family: 'Super Mario Bros Alphabet', sans-serif;
	font-size: 62px;
	margin-top: 5px;
	margin-bottom: 25px;
	color: rgb(238, 44, 44);
}

.three-sections {
	display: grid;
	grid-template-columns: 5fr 3fr 5fr;
}

/* grid */
.grid {
	width: 100%;
	height: 100%;
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto)
}

.grid button {
	width: 100px;
	height: 100px;
	border: 1px solid black;
    cursor:pointer;
	background-color: transparent;
}




div button:nth-child(1),
div button:nth-child(2), 
div button:nth-child(3) {
	border-top: none;
}

div button:nth-child(1), 
div button:nth-child(4), 
div button:nth-child(7) {
	border-left: none;
}

div button:nth-child(3), 
div button:nth-child(6), 
div button:nth-child(9) {
	border-right: none;
}

div button:nth-child(7), 
div button:nth-child(8), 
div button:nth-child(9) {
	border-bottom: none;
}

/* reset button */
.reset-Btn, 
.next-round {
    text-align: center;
    width: 100px;
    height: 50px;
	cursor:pointer;
}

.reset-Btn {
	display: none;

}

.next-round {
	visibility: hidden;
}

section {
    text-align: center;
}


/* game images */ 
.bgimg{
	background-image: url(images/mario-background.png);
	background-repeat: no-repeat;
	width: 1900px;
	height: 760px;
	background-size: contain;
}

#cell1 {
	width: 100%;
}

.marioImg {
	background-image: url(images/mario.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 100px;
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	
}

.bowserImg {
	background-image: url(images/bowser.png);
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.marioVictory {
	background-image: url(images/mario-victory.png);
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}

.marioVictoryText {
	font-size: 50px;
	text-align: center;
	padding-top: 50px;
	font-weight: bold;
}

.left-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	visibility: hidden;
}

.bowserVictory {
	background-image: url(images/bowser-victory.png);
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;

}

.bowserVictoryText {
	font-size: 50px;
	text-align: center;
	padding-top: 50px;
	font-weight: bold;
	-webkit-animation: flip-2-ver-left-fwd 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: flip-2-ver-left-fwd 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.right-grid {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	visibility:hidden;
}

.stands {
	height:135px;
	margin-top: 105px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.marioStand {
	height: 135px;
	margin-left: 25px;

}

.bowserStand {
	height: 135px;
	margin-left: 800px;
} 